@model SistemaVidaNova.Models.AccountViewModels.IndexViewModel

@{

    Layout = "_LayoutAdmin";
}



<div id="top" class="content-header">
    <div class="col-sm-3">
        <h3 class="box-title">Lista de Usuários</h3>
    </div>

    <div class="col-sm-6">

        <form  method="get" action="Account">
            <div class="input-group h2">
                <input type="text" name="q" class="form-control" id="exampleInputName2" placeholder="Pesquisar Usuário">

                <span class="input-group-btn">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>

                </span>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <a href="/Account/Register" class="btn btn-primary pull-right h2">Novo Usuário</a>
        </div>
    </div>
</div>

<div id="list" class="row" ng-controller="UserController">


    <section class="content body">

        <div class="row">
            <div class="col-lg-12">
                <div class="box-body">

                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>

                                <th>Nome</th>
                                <th>Cpf</th>
                                <th>Email</th>
                                <th>Ativo</th>
                                
                                <th>Administrador</th>
                                
                                <th class="actions">Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var u in Model.lista)
                            {

                                <tr>
                                    <td>@u.Nome</td>
                                    
                                    <td>{{'@u.Cpf' | brCpf}}</td>
                                    <td>@u.Email</td>
                                    <td>@(u.IsAtivo?"Sim":"Não")</td>
                                    <td>@(u.IsAdmin ? "Sim" : "Não")</td>
                                    
                                    <td class='actions'>


                                        <a class='btn btn-warning btn-xs' href='/Account/Editar/@u.Id'>Editar</a>

                                    </td>
                                </tr>
                            }
                            

                        </tbody>
                    </table>


                    

                    <div class="col-md-12">

                        <a  class="btn btn-success pull-right h2" href="/Account/Excel" target="_blank">Importar para Excel</a>

                    </div>



                </div>
            </div>


        </div>
    </section>

</div>
