@using Microsoft.AspNetCore.Identity
@using SistemaVidaNova.Models
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    
    ViewData["imagePath"] = "images/users/" + @UserManager.GetUserId(User) + ".jpg?"+DateTime.Now.Ticks;
}


@if (SignInManager.IsSignedIn(User))
{
    

    <li class="dropdown user user-menu" ng-app="app2">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="@ViewData["imagePath"]" class="user-image" alt="User Image">
            <span class="hidden-xs">@UserManager.GetUserName(User)</span>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="@ViewData["imagePath"]" class="img-circle" alt="User Image" width="160" height="160">

                <p>
                    @UserManager.GetUserName(User)
                    
                </p>
            </li>
           
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    
                    <a asp-area="" asp-controller="Manage" asp-action="Index" class="btn btn-default btn-flat" target="_self">Perfil</a>
                </div>
                <div class="pull-right">                    
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right" target="_self">                        
                        <button type="submit" class="btn btn-default btn-flat">Sair</button>
                    </form>
                </div>
            </li>
        </ul>
    </li>
}
else
{
    
        
        <li ng-app="app2"><a asp-area="" asp-controller="Account" asp-action="Login"  target="_self">Entrar</a></li>
        
    

}
